body{
    background-color: #b07cf7;
}


main {
    background-color: #b07cf7;
    position: relative;
    width: 1500px;
    height: 864px;
    margin: 0 auto;
}

.name {
    position: relative;
    color: white;
    top: 98px;
    left: 472px;
    width: 561px;
    height: 188px;
    

}

.blog {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

p.text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: center;
    


}

.container {
    position: relative;
    width: 1171px;
    height: 310px;
    top: 180px;
    left: 165px;

}

.photo {
    width: 372px;
    height: 310px;
    background-image: url(../img/img.png);
    position: relative;
    background-size: cover;
    box-shadow: 0 5px 10px rgb(51,51,51);


   
}

.november { 
   transform: translate(31px, 31px);
}

.green {
    position: relative;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 311px;
    transform: translate(20px, 145px);

    
    
}

.by {
    position: relative;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    left: 20px;
    bottom: -162px;

}

.photo1 {
    width: 372px;
    height:310px;
    transform: translate(404px, -310px);
    background-image: url(../img/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 10px rgb(51,51,51);
    

}

.photo2 {
    width: 372px;
    height:310px;
    transform: translate(800px, -620px);
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 10px rgb(51,51,51);

}


.butt {
    width: 200px;
    height: 56px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    background-color: #f72b3b;
    text-transform: uppercase;

}

.down {
    position: relative;
    transform: translate(651px, 250px);
}
   



    


